.editable-div {
    background-color: #fff;
    padding: 5px;
    height: 100vh;
    width: 800px;
    margin: auto;
    padding-inline: 7rem;
    padding-block: 6rem;
    border: 0px solid black!important;
  }



  /* window.getSelection().toString() */
